header {
	display: flex;
	
	padding: 5px 0;
}

header .tiny {
	display: none;
}

header h1,
header p {
	margin: 0;
}

.title {
	font-family: 'DynaPuff', cursive;
	font-size: 2.75rem;
	font-weight: 900;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: #FFDB85;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	margin-right: 0;
	user-select: none;
}

.heart{
	color: #f8312f;
}

.rules{
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0.5%;
	top: 25px;

	cursor: pointer;
	color: #fff;
	font-size: 0.95rem;
	font-family: 'DynaPuff', cursive;
	letter-spacing: .8px;
}

.eng{
	left: 7.5px;
}
.cs{
	right: -2.5px;
}

.button-box{
	width: 100px;
	margin: 23px auto;
	position: absolute; 
	display: flex;
	top: -1.5%;
	left: 3%;
	border-radius: 30px;
	background: #565758;
}

.toggle-btn{
	padding: 7px 13px;
	border: 0;
	outline: none;
	position: relative;

	cursor: pointer;
	background: transparent;
	text-align: center;	
	color: #fff;
	font-family: 'DynaPuff', cursive;
}

#btn{
	left: 0;
	top: 0;
	position: absolute;
	width: 50px;
	height: 100%;

	background: #FFDB85;
	border-radius: 30px;
	transition: .5s;
}





/* HEADER RESPONSIVE */
@media only screen and (max-width: 600px) {
	.title {
		font-size: 2.5rem;
		letter-spacing: -2px;
	}

	.rules {
		font-size: 0.85rem;	
	}
}


@media only screen and (max-width: 550px) {
	.title {
		font-size: 2.3rem;
		letter-spacing: -2px;
	}

	.rules {
		font-size: 0.75rem;
	}
}